html{
  scroll-behavior: smooth;  
}
#intro {
  background: url("../img/panorama-3094696_1920.jpg") no-repeat center center;
  background-size: cover;
}

.top-nav-collapse {
  background-color: #3949ab !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}
@media (max-width: 991px) {
 
  .logo-dudu{
    padding-top: 100px;
    max-width: 15rem !important;
    max-height: auto !important;
   
  }
  #logo{
    position: absolute !important;
    max-width: 2.5rem !important;
  }


}

@media (max-width: 767px) {
  .navbar:not(.top-nav-collapse) {
    background: transparent !important;
  }

  .logo-dudu{
    padding-top: 10%;
    max-width: 5rem !important;
    max-height: auto !important;
   
  }



}

#intro .h6 {
  font-weight: 300;
  line-height: 1.7;
}

.hm-gradient .full-bg-img {
  background: rgba(42, 27, 161, 0.7);
  background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
}

@media (max-width: 450px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .logo-dudu{
    padding-top: 50px !important;
    max-width: 20em !important;
    max-height: auto !important;
   
  }

}

#pricing .lead {
  opacity: 0.7;
}

#pricing .card-image {
  background: url("../img/architecture.jpg") no-repeat center center;
}

#pricing ul li {
  font-size: 1.1em;
}

